<html>
  <head>
    <title>Headliner</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>

  <body>

    <div id="container">
      <div id="left">
      </div>

      <div id="right">
        <div id="form-content">
          <p id="title">NEWS SEARCH</p>
          <form action="/display" method="post" name="filter">
            {{ form.headline(class="css_class", placeholder="Headline") }}
            <br>    
            <p><input type="submit" value="Submit"></p>
          </form>
        </div>
      </div>
</div>
   
  
    
  

  </body>
</html> 