<html>
  <head>
    <title>Headliner</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   </head>

  <body>
<div class="row sm">
         <div class="col-sm">
            <div class="box">
            <p>PLEASE</p>
            </div>
          </div>

          <div class="col-sm">
            <div class="box">
            <p>WORK</p>
            </div>
          </div>

          <div class="col-sm">
            <div class="box">
            <p>OKAY</p>
            </div>
          </div>
</div>
   

<div class="row sm">
         <div class="col-sm">
            <div class="box">
            <p>PLEASE</p>
            </div>
          </div>

          <div class="col-sm">
            <div class="box">
            <p>WORK</p>
            </div>
          </div>

          <div class="col-sm">
            <div class="box">
            <p>OKAY</p>
            </div>
          </div>
</div>

<div class="row sm">
         <div class="col-sm">
            <div class="box">
            <p>PLEASE</p>
            </div>
          </div>

          <div class="col-sm">
            <div class="box">
            <p>WORK</p>
            </div>
          </div>

          <div class="col-sm">
            <div class="box">
            <p>OKAY</p>
            </div>
          </div>
</div>

  </body>
</html> 